.page {
    padding:75px 150px;
}

.card {
    width: 400px;
    height: 90px;
    padding: 10px 20px;
}
.card:hover{
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.2);
}

.left {
    float: left;
    width: 200px;
}

.right {
    float: right;
    width: 80px;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.word {
    font-size: 36pt;
    margin-bottom: 5px;
}

.flat-button {
    border: none;
    padding: 0;
    background: none;
}

.icon {
    width: 25px;
    height: 25px;
    padding: 5px;
}

.icon:hover {
    transform: scale(1.2);
}

th {
    text-align: left;
}
th, td {
    padding: 5px 20px 5px 0;
}

textarea{
    margin: 10px 0px;
}



